// Profile.scss

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  .avatar {
    margin: 20px auto auto;
  }

  .button-wrapper {
    margin-top: 20px;

    .update-profile-button {
      background-color: #007bff;
      color: #fff;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      position: relative;
      overflow: hidden;

      &::before {
        content: '\2192';  // Utilisation du code Unicode pour une flèche vers la droite
        font-family: 'Arial', sans-serif;  // Utilisez une police qui prend en charge le code Unicode
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }

      &:hover::before {
        opacity: 1;
      }
    }
  }
}
