/* Profile.css */
.profile-paper {
  background: var(--mantine-color-gray-10);
  border-radius: var(--mantine-border-radius-md);
}

.profile-grid-col {
  display: flex;
  justify-content: center;
}

.profile-card {
  max-width: 400px;
  width: 100%;
  margin: auto;
  text-align: center;
}

.profile-avatar {
  margin: auto;
}

.profile-title {
  margin-bottom: var(--mantine-space-md);
}
.profile-subtitle {
  margin-bottom: var(--mantine-space-lg);
  text-align: left;
}

.profile-text-lg {
  margin-top: var(--mantine-space-md);
}

.profile-text-sm {
  color: var(--mantine-color-dimmed);
}

.profile-update-button:hover {
  background-color: #45a049;
}
