.header-container .account-avatar{
  margin-top: -70px;
}

.profile-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid #ccc;
  height: 100px;
background-color: #60b98b;
}

h1{
  text-align: center;

}

.contributions{
  margin-top: 60px;
}

.pixelboard-tables{
    width: 100%;
}

.pixelboard-footer{
  text-align: center;
}