.list-pixelboard{
  display: flex;
  flex-wrap: wrap;
  max-width: 1500px;
  margin: auto;
  padding: 30px;
  gap: 30px;
  justify-content: center;

  .card-pixelboard{
    min-width: 400px;
    height: 100%;
  }
}

.content-card{
  position: relative;
  .timer{
    position: absolute;
    top: -15px;
    right: -15px;
    z-index: 99;
  }
}

@media screen and (max-width: 768px){
  .list-pixelboard{
    flex-direction: column;
    align-items: center;

    .card-pixelboard{
      min-width: 100%;
    }
  }
}