.draw-container .color-range{
  position: fixed;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.draw-grids {
  .countdown-timer {
    font-size: 1rem;
    z-index: 99;
    font-weight: bold;
    color: #ffffff;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    text-align: center;
    position: absolute;
    bottom: 30px;
    opacity: 0.8;

    align-items: center;
    flex-direction: row !important;
    position: absolute;
    justify-content: center;
    z-index: 99;
    left: 50%;
    transform: translate(-50%);

    width: 80%;

    -webkit-user-select: none; /* Pour les navigateurs basés sur WebKit */
    -moz-user-select: none; /* Pour les navigateurs basés sur Gecko (Firefox) */
    -ms-user-select: none; /* Pour Internet Explorer */
    user-select: none; /* Syntaxe standard */
  }
}

.mantine-Progress-root{
  height: auto!important;
}

.draw-container nav {
  position: fixed;
  left: 50%;
}

.content {
  overflow-x: auto;
  position: relative;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0;
}