.draw-container .color-range{
  position: fixed;
  top: 0;
  right: 0;
}

.draw-container{
  position: relative;
}

.draw-container nav {
  position: fixed;
  left: 50%;
}

.content {
  overflow-x: auto;
}

canvas{
  position: absolute;
  left: 0px;
  top: 0;
}