.register-form {
  padding: 20px;
}

.register-form__group {
  margin-bottom: 20px;
}

.register-form__group:last-child {
  margin-bottom: 0;
}

.register-form__title {
  margin-bottom: 10px;
}

.register-form__text {
  margin-bottom: 20px;
}

.register-form__input {
  margin-bottom: 15px;
}

.register-form__button {
  margin-top: 15px;
}
.modal-content-light {
  background-color: #ffffff;
  color: #000000;
}